page-login {
    background-color: #cccccc;
    .login-box {
        padding: 20px 20px 0px 20px;
        margin-top: 50px;
      }
    .main-title {
        color: #887f7f;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
    }
}
